In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('restaurant_rating.csv')

In [3]:
data

      Unnamed: 0  Food  Service  Ambiance  Value  Cleanliness  rating  revisit
0              0     5        4         3      4            3       4        1
1              1     3        4         2      1            1       3        0
2              2     5        2         3      5            2       3        1
3              3     5        5         5      2            5       5        1
4              4     5        3         5      5            4       4        0
...          ...   ...      ...       ...    ...          ...     ...      ...
1430        1430     4        5         5      3            3       4        1
1431        1431     1        2         5      4            3       3        1
1432        1432     3        4         5      4            4       4        1
1433        1433     5        3         4      5            5       5        1
1434        1434     4        5         4      4            5       4        1

[1435 rows x 8 columns]

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.2, random_state=617)

train_mean = train['rating'].mean()
test_mean = test['rating'].mean()

abs_diff = round(abs(train_mean - test_mean), 4)

print("Average rating (Train):", train_mean)
print("Average rating (Test):", test_mean)
print("Absolute difference:", abs_diff)

Average rating (Train): 3.745644599303136
Average rating (Test): 3.797909407665505
Absolute difference: 0.0523

In [5]:
bins = pd.cut(data["rating"], bins=20)
train, test = train_test_split(data, test_size=0.2, random_state=617, stratify=bins)
train_mean = train["rating"].mean()
test_mean = test["rating"].mean()
abs_diff = round(abs(train_mean - test_mean), 4)
print(abs_diff)

0.0044

In [6]:
train, test = train_test_split(data, test_size=0.3, random_state=617, stratify=data["revisit"])
prop_revisit = (train["revisit"] == 1).mean()
print(round(prop_revisit, 4))

0.6743