In [1]:
import numpy as np
import pandas as pd

In [2]:
dat_reg=pd.read_csv('dat_reg.csv')
dat_class=pd.read_csv('dat_class.csv')

In [3]:
dat_reg

     sales        pred1        pred2       pred3
0     1553   818.672887  1121.546080  792.055730
1       50  1196.342908   166.576809 -267.474995
2       50   728.244854   101.106527  583.531066
3       80   444.194444    79.582051  792.055730
4      245   491.004250   393.301295  420.092816
..     ...          ...          ...         ...
995    201   684.626627   209.446392  684.975497
996     53   526.111604    97.339744  538.444652
997    351   602.709467   420.924373  668.068092
998    220   511.217575   272.943597  622.981678
999    303   698.456796   236.172617  707.518704

[1000 rows x 4 columns]

In [6]:
from sklearn.metrics import root_mean_squared_error

print('Pred 1 RMSE:',root_mean_squared_error(dat_reg['sales'],dat_reg['pred1']))
print('Pred 2 RMSE:',root_mean_squared_error(dat_reg['sales'],dat_reg['pred2']))
print('Pred 3 RMSE:',root_mean_squared_error(dat_reg['sales'],dat_reg['pred3']))

Pred 1 RMSE: 1125.2859005815326
Pred 2 RMSE: 465.7376334867533
Pred 3 RMSE: 1171.9972582129233

In [7]:
root_mean_squared_error(dat_reg['sales'],dat_reg['pred1']).round(4)

1125.2859

In [8]:
from sklearn.metrics import r2_score

In [13]:
score=r2_score(dat_reg['sales'],dat_reg['pred1'])
score

0.11397073667984459

In [14]:
round(0.11397073667984459,3)

0.114

In [15]:
dat_class

     sold  pred1  pred2  pred3
0       0   0.37   0.00   0.34
1       1   0.20   0.86   0.98
2       1   0.42   0.94   0.55
3       1   0.58   0.96   0.34
4       0   0.56   0.16   0.70
..    ...    ...    ...    ...
995     0   0.45   0.76   0.44
996     1   0.54   0.94   0.59
997     0   0.49   0.11   0.46
998     0   0.55   0.54   0.51
999     0   0.44   0.68   0.42

[1000 rows x 4 columns]

In [17]:
pred1=[]
for i in dat_class['pred1']:
    if i<=0.5:
        pred1.append(0)
    elif i>0.5:
        pred1.append(1)

In [20]:
from sklearn.metrics import accuracy_score

accuracy_score(dat_class['sold'],pred1)

0.687

In [21]:
pred2=[]
for i in dat_class['pred2']:
    if i<=0.5:
        pred2.append(0)
    elif i>0.5:
        pred2.append(1)

In [25]:
from sklearn.metrics import recall_score

recall_score(dat_class['sold'],pred2).round(4)

0.8831

In [26]:
dat_class

     sold  pred1  pred2  pred3
0       0   0.37   0.00   0.34
1       1   0.20   0.86   0.98
2       1   0.42   0.94   0.55
3       1   0.58   0.96   0.34
4       0   0.56   0.16   0.70
..    ...    ...    ...    ...
995     0   0.45   0.76   0.44
996     1   0.54   0.94   0.59
997     0   0.49   0.11   0.46
998     0   0.55   0.54   0.51
999     0   0.44   0.68   0.42

[1000 rows x 4 columns]

In [29]:
pred3=[]
for i in dat_class['pred3']:
    if i<=0.5:
        pred3.append(0)
    elif i>0.5:
        pred3.append(1)

In [30]:
from sklearn.metrics import roc_auc_score

print("Pred 1 Score: ", roc_auc_score(dat_class['sold'],pred1))
print("Pred 1 Score: ", roc_auc_score(dat_class['sold'],dat_class['pred1']))
print("Pred 2 Score: ", roc_auc_score(dat_class['sold'],pred2))
print("Pred 2 Score: ", roc_auc_score(dat_class['sold'],dat_class['pred2']))
print("Pred 3 Score: ", roc_auc_score(dat_class['sold'],pred3))
print("Pred 3 Score: ", roc_auc_score(dat_class['sold'],dat_class['pred3']))

Pred 1 Score:  0.6871479774705581
Pred 1 Score:  0.7366211437532002
Pred 2 Score:  0.8393497183819765
Pred 2 Score:  0.9414322516641065
Pred 3 Score:  0.6299923195084485
Pred 3 Score:  0.6752212141577061