In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('beer.csv')

In [6]:
data.shape

(200, 9)

In [7]:
data

      ID  Age  Gender  Income  Taste  Price  Brand  Packaging  Alcohol_Content
0      1   30    Male  Middle      1      3      2          3                3
1      2   25    Male     Low      3      4      2          3                1
2      3   19    Male     Low      2      3      1          2                1
3      4   23    Male     Low      5      5      1          1                1
4      5   40  Female  Middle      4      4      5          2                1
..   ...  ...     ...     ...    ...    ...    ...        ...              ...
195  196   47    Male  Middle      3      1      3          5                3
196  197   54    Male    High      2      5      5          4                2
197  198   44  Female     Low      3      1      5          4                1
198  199   26  Female    High      3      1      5          4                3
199  200   36    Male  Middle      3      1      3          4                1

[200 rows x 9 columns]

In [9]:
np.median(data.Age)

40.0

In [14]:
data.describe()

,ID,Age,Taste,Price,Brand,Packaging,Alcohol_Content
count,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000
mean,100.500000,40.810000,3.060000,2.900000,2.84500,2.795000,2.645000
std,57.879185,12.710297,1.461877,1.381864,1.41456,1.400996,1.406723
min,1.000000,18.000000,1.000000,1.000000,1.00000,1.000000,1.000000
25%,50.750000,30.000000,2.000000,2.000000,2.00000,2.000000,1.000000
50%,100.500000,40.000000,3.000000,3.000000,2.50000,3.000000,2.000000
75%,150.250000,52.000000,4.000000,4.000000,4.00000,4.000000,4.000000
max,200.000000,65.000000,5.000000,5.000000,5.00000,5.000000,5.000000

In [15]:
data[data['Gender']=='Male'].describe()

,ID,Age,Taste,Price,Brand,Packaging,Alcohol_Content
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000
mean,97.490000,41.640000,2.950000,3.030000,2.910000,2.78000,2.380000
std,60.500855,12.483945,1.493251,1.403135,1.371389,1.41835,1.361669
min,1.000000,18.000000,1.000000,1.000000,1.000000,1.00000,1.000000
25%,44.500000,31.750000,2.000000,2.000000,2.000000,1.00000,1.000000
50%,89.500000,40.500000,3.000000,3.000000,3.000000,3.00000,2.000000
75%,157.250000,52.250000,4.000000,4.000000,4.000000,4.00000,3.000000
max,200.000000,65.000000,5.000000,5.000000,5.000000,5.00000,5.000000

In [17]:
data[(data.Gender=='Female') & (data.Alcohol_Content<=2)].shape

(40, 9)

In [18]:
np.median(data[data.Price>4]['Age'])

36.5

In [19]:
data

      ID  Age  Gender  Income  Taste  Price  Brand  Packaging  Alcohol_Content
0      1   30    Male  Middle      1      3      2          3                3
1      2   25    Male     Low      3      4      2          3                1
2      3   19    Male     Low      2      3      1          2                1
3      4   23    Male     Low      5      5      1          1                1
4      5   40  Female  Middle      4      4      5          2                1
..   ...  ...     ...     ...    ...    ...    ...        ...              ...
195  196   47    Male  Middle      3      1      3          5                3
196  197   54    Male    High      2      5      5          4                2
197  198   44  Female     Low      3      1      5          4                1
198  199   26  Female    High      3      1      5          4                3
199  200   36    Male  Middle      3      1      3          4                1

[200 rows x 9 columns]

In [20]:
gender=['Male','Female']
income=['High','Middle','Low']
for i in gender:
    for j in income:
        print(i,j,np.mean(data[(data.Gender==i) & (data.Income==j)]['Brand']))

Male High 3.1739130434782608
Male Middle 3.019607843137255
Male Low 2.4615384615384617
Female High 2.736842105263158
Female Middle 2.938775510204082
Female Low 2.5555555555555554