In [59]:
import pandas as pd
birthdays = pd.read_csv('president_birthdays.csv')
heights = pd.read_csv('president_heights.csv')
states = pd.read_csv('president_states.csv')

In [3]:
birthdays.birthday.dt.parse_date()

AttributeError: Can only use .dt accessor with datetimelike values

In [60]:
birthdays.birthday=pd.to_datetime(birthdays.birthday.str.replace(' ',''))

In [6]:
birthdays.birthday.to_datetime()

AttributeError: 'Series' object has no attribute 'to_datetime'

In [7]:
date.hms(birthdays.birthday)

NameError: name 'date' is not defined

In [8]:
pd.trim(birthdays.Name)

AttributeError: module 'pandas' has no attribute 'trim'

In [9]:
birthdays.Name.trim()

AttributeError: 'Series' object has no attribute 'trim'

In [10]:
birthdays.Name.str.strip()

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32            Harry S Truman
33      Dwight D. Eisenhower
34              John Kennedy
35         Lyndon B. Johnson
36          Richard M. Nixon
37            Gerald R. Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41        William J. Clinton
42            George W. Bush
43      Barack Hussein Obama
44              Donald Trump
45                 Joe Biden
46              Donald Trump
Name: Name, dtype: object

In [12]:
birthdays.loc[:,'Name'].str.strip()

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32            Harry S Truman
33      Dwight D. Eisenhower
34              John Kennedy
35         Lyndon B. Johnson
36          Richard M. Nixon
37            Gerald R. Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41        William J. Clinton
42            George W. Bush
43      Barack Hussein Obama
44              Donald Trump
45                 Joe Biden
46              Donald Trump
Name: Name, dtype: object

In [29]:
birthdays['day']=birthdays.birthday.dt.day_name()

In [30]:
birthdays

                       Name   birthday        day
0         George Washington 1732-02-22     Friday
1                John Adams 1735-10-30     Sunday
2          Thomas Jefferson 1743-04-13   Saturday
3             James Madison 1751-03-16    Tuesday
4              James Monroe 1758-04-28     Friday
5         John Quincy Adams 1767-07-11   Saturday
6            Andrew Jackson 1767-03-15     Sunday
7          Martin Van Buren 1782-12-05   Thursday
8    William Henry Harrison 1773-02-09    Tuesday
9                John Tyler 1790-03-29     Monday
10            James K. Polk 1795-11-02     Monday
11           Zachary Taylor 1784-11-24  Wednesday
12         Millard Fillmore 1800-01-07    Tuesday
13          Franklin Pierce 1804-11-23     Friday
14           James Buchanan 1791-04-23   Saturday
15          Abraham Lincoln 1809-02-12     Sunday
16           Andrew Johnson 1808-12-29   Thursday
17         Ulysses S. Grant 1822-04-27   Saturday
18      Rutherford B. Hayes 1822-10-04     Friday
19        James A. Garfield 1831-11-19   Saturday
20        Chester A. Arthur 1829-10-05     Monday
21         Grover Cleveland 1837-03-18   Saturday
22        Benjamin Harrison 1833-08-20    Tuesday
23         Grover Cleveland 1837-03-18   Saturday
24         William McKinley 1843-01-29     Sunday
25       Theodore Roosevelt 1858-10-27  Wednesday
26      William Howard Taft 1857-09-15    Tuesday
27           Woodrow Wilson 1856-12-28     Sunday
28        Warren G. Harding 1865-11-02   Thursday
29          Calvin Coolidge 1872-07-04   Thursday
30           Herbert Hoover 1874-08-10     Monday
31    Franklin D. Roosevelt 1882-01-30     Monday
32           Harry S Truman 1884-05-08   Thursday
33     Dwight D. Eisenhower 1890-10-14    Tuesday
34             John Kennedy 1917-05-29    Tuesday
35        Lyndon B. Johnson 1908-08-27   Thursday
36         Richard M. Nixon 1913-01-09   Thursday
37           Gerald R. Ford 1913-07-14     Monday
38             Jimmy Carter 1924-10-01  Wednesday
39            Ronald Reagan 1911-02-06     Monday
40        George H. W. Bush 1924-06-12   Thursday
41       William J. Clinton 1946-08-19     Monday
42           George W. Bush 1946-06-06   Thursday
43     Barack Hussein Obama 1961-08-04     Friday
44             Donald Trump 1946-06-14     Friday
45                Joe Biden 1942-11-20     Friday
46             Donald Trump 1946-06-14     Friday

In [31]:
grp=birthdays.groupby(by='day',as_index=False).agg('count')

In [32]:
grp

         day  Name  birthday
0     Friday     8         8
1     Monday     8         8
2   Saturday     7         7
3     Sunday     5         5
4   Thursday     9         9
5    Tuesday     7         7
6  Wednesday     3         3

In [90]:
heights['height'] = heights['height'].str.replace(' inches', '')

In [91]:
heights['height'] = pd.to_numeric(heights['height'])

In [39]:
import numpy as np
np.median(heights.height)

71.0

In [41]:
heights['height_cm']=heights.height*2.54

In [42]:
heights

                  Name  height  height_cm
0    George Washington      74     187.96
1           John Adams      67     170.18
2     Thomas Jefferson      75     190.50
3        James Madison      64     162.56
4         James Monroe      72     182.88
5    John Quincy Adams      67     170.18
6       Andrew Jackson      73     185.42
7     Martin van Buren      66     167.64
8     William Harrison      68     172.72
9           John Tyler      72     182.88
10          James Polk      68     172.72
11      Zachary Taylor      68     172.72
12    Millard Fillmore      69     175.26
13     Franklin Pierce      70     177.80
14      James Buchanan      72     182.88
15     Abraham Lincoln      74     187.96
16      Andrew Johnson      70     177.80
17       Ulysses Grant      68     172.72
18    Rutherford Hayes      68     172.72
19      James Garfield      72     182.88
20      Chester Arthur      74     187.96
21  Grover Cleveland 1      71     180.34
22   Benjamin Harrison      66     167.64
23  Grover Cleveland 2      71     180.34
24    William McKinley      67     170.18
25  Theodore Roosevelt      70     177.80
26        William Taft      72     182.88
27      Woodrow Wilson      71     180.34
28      Warren Harding      72     182.88
29     Calvin Coolidge      70     177.80
30      Herbert Hoover      71     180.34
31  Franklin Roosevelt      74     187.96
32        Harry Truman      69     175.26
33   Dwight Eisenhower      70     177.80
34        John Kennedy      72     182.88
35      Lyndon Johnson      75     190.50
36       Richard Nixon      72     182.88
37         Gerald Ford      72     182.88
38        Jimmy Carter      69     175.26
39       Ronald Reagan      74     187.96
40       George Bush I      74     187.96
41        Bill Clinton      74     187.96
42      George Bush II      71     180.34
43        Barack Obama      73     185.42
44        Donald Trump      75     190.50
45           Joe Biden      72     182.88
46        Donald Trump      75     190.50

In [43]:
np.median(heights.height_cm)

180.34

In [44]:
mn=np.mean(heights.height)
std=np.std(heights.height)

In [45]:
heights['std_height']=(heights.height-mn)/std

In [46]:
heights

                  Name  height  height_cm  std_height
0    George Washington      74     187.96    1.124673
1           John Adams      67     170.18   -1.427172
2     Thomas Jefferson      75     190.50    1.489223
3        James Madison      64     162.56   -2.520819
4         James Monroe      72     182.88    0.395575
5    John Quincy Adams      67     170.18   -1.427172
6       Andrew Jackson      73     185.42    0.760124
7     Martin van Buren      66     167.64   -1.791721
8     William Harrison      68     172.72   -1.062622
9           John Tyler      72     182.88    0.395575
10          James Polk      68     172.72   -1.062622
11      Zachary Taylor      68     172.72   -1.062622
12    Millard Fillmore      69     175.26   -0.698073
13     Franklin Pierce      70     177.80   -0.333524
14      James Buchanan      72     182.88    0.395575
15     Abraham Lincoln      74     187.96    1.124673
16      Andrew Johnson      70     177.80   -0.333524
17       Ulysses Grant      68     172.72   -1.062622
18    Rutherford Hayes      68     172.72   -1.062622
19      James Garfield      72     182.88    0.395575
20      Chester Arthur      74     187.96    1.124673
21  Grover Cleveland 1      71     180.34    0.031025
22   Benjamin Harrison      66     167.64   -1.791721
23  Grover Cleveland 2      71     180.34    0.031025
24    William McKinley      67     170.18   -1.427172
25  Theodore Roosevelt      70     177.80   -0.333524
26        William Taft      72     182.88    0.395575
27      Woodrow Wilson      71     180.34    0.031025
28      Warren Harding      72     182.88    0.395575
29     Calvin Coolidge      70     177.80   -0.333524
30      Herbert Hoover      71     180.34    0.031025
31  Franklin Roosevelt      74     187.96    1.124673
32        Harry Truman      69     175.26   -0.698073
33   Dwight Eisenhower      70     177.80   -0.333524
34        John Kennedy      72     182.88    0.395575
35      Lyndon Johnson      75     190.50    1.489223
36       Richard Nixon      72     182.88    0.395575
37         Gerald Ford      72     182.88    0.395575
38        Jimmy Carter      69     175.26   -0.698073
39       Ronald Reagan      74     187.96    1.124673
40       George Bush I      74     187.96    1.124673
41        Bill Clinton      74     187.96    1.124673
42      George Bush II      71     180.34    0.031025
43        Barack Obama      73     185.42    0.760124
44        Donald Trump      75     190.50    1.489223
45           Joe Biden      72     182.88    0.395575
46        Donald Trump      75     190.50    1.489223

In [51]:
heights['category'] = ['Short' if x <= 66 else 'Average' if x <= 69 else 'Tall' if x <= 72 else 'Very Tall' for x in heights['height']]

In [57]:
heights.drop_duplicates(inplace=True)

In [58]:
heights.groupby(by='category', as_index=False).agg('count')

    category  Name  height  height_cm  std_height
0    Average    11      11         11          11
1      Short     3       3          3           3
2       Tall    20      20         20          20
3  Very Tall    12      12         12          12

In [92]:
merged=heights.merge(states, on='Name',how='left')

In [78]:
states['state']=states['"Birth State"']

KeyError: '"Birth State"'

In [86]:
states['state']=states.iloc[:,1]

In [88]:
merged

,Name,height,"""Birth State""",state
0,George Washington,74,"""Virginia""","""Virginia"""
1,John Adams,67,"""Massachusetts""","""Massachusetts"""
2,Thomas Jefferson,75,"""Virginia""","""Virginia"""
3,James Madison,64,"""Virginia""","""Virginia"""
4,James Monroe,72,"""Virginia""","""Virginia"""
5,John Quincy Adams,67,"""Massachusetts""","""Massachusetts"""
6,Andrew Jackson,73,"""South Carolina""","""South Carolina"""
7,Martin van Buren,66,"""New York""","""New York"""
8,William Harrison,68,"""Virginia""","""Virginia"""
9,John Tyler,72,"""Virginia""","""Virginia"""
10,James Polk,68,"""North Carolina""","""North Carolina"""
11,Zachary Taylor,68,"""Virginia""","""Virginia"""
12,Millard Fillmore,69,"""New York""","""New York"""
13,Franklin Pierce,70,"""New Hampshire""","""New Hampshire"""
14,James Buchanan,72,"""Pennsylvania""","""Pennsylvania"""
15,Abraham Lincoln,74,"""Kentucky""","""Kentucky"""
16,Andrew Johnson,70,"""North Carolina""","""North Carolina"""
17,Ulysses Grant,68,"""Ohio""","""Ohio"""
18,Rutherford Hayes,68,"""Ohio""","""Ohio"""
19,James Garfield,72,"""Ohio""","""Ohio"""
20,Chester Arthur,74,"""Vermont""","""Vermont"""
21,Grover Cleveland 1,71,"""New Jersey""","""New Jersey"""
22,Benjamin Harrison,66,"""Ohio""","""Ohio"""
23,Grover Cleveland 2,71,"""New Jersey""","""New Jersey"""
24,William McKinley,67,"""Ohio""","""Ohio"""
25,Theodore Roosevelt,70,"""New York""","""New York"""
26,William Taft,72,"""Ohio""","""Ohio"""
27,Woodrow Wilson,71,"""Virginia""","""Virginia"""
28,Warren Harding,72,"""Ohio""","""Ohio"""
29,Calvin Coolidge,70,"""Vermont""","""Vermont"""
30,Herbert Hoover,71,"""Iowa""","""Iowa"""
31,Franklin Roosevelt,74,"""New York""","""New York"""
32,Harry Truman,69,"""Missouri""","""Missouri"""
33,Dwight Eisenhower,70,"""Texas""","""Texas"""
34,John Kennedy,72,"""Massachusetts""","""Massachusetts"""
35,Lyndon Johnson,75,"""Texas""","""Texas"""
36,Richard Nixon,72,"""California""","""California"""
37,Gerald Ford,72,"""Nebraska""","""Nebraska"""
38,Jimmy Carter,69,"""Georgia""","""Georgia"""
39,Ronald Reagan,74,"""Illinois""","""Illinois"""
40,George Bush I,74,"""Massachusetts""","""Massachusetts"""
41,Bill Clinton,74,"""Arkansas""","""Arkansas"""
42,George Bush II,71,"""Connecticut""","""Connecticut"""
43,Barack Obama,73,"""Hawaii""","""Hawaii"""
44,Donald Trump,75,"""New York""","""New York"""
45,Donald Trump,75,"""New York""","""New York"""
46,Joe Biden,72,"""Pennsylvania""","""Pennsylvania"""
47,Donald Trump,75,"""New York""","""New York"""
48,Donald Trump,75,"""New York""","""New York"""

In [93]:
merged.groupby(by='state',as_index=False).agg({'height':'mean'})

                           state  height
0                 "Pennsylvania"    72.0
1                "Massachusetts"    67.0
2               "North Carolina"    68.0
3                     "Virginia"    72.0
4                     "Nebraska"    72.0
5                     "Arkansas"    74.0
6                      "Georgia"    69.0
7                       "Hawaii"    73.0
8                "Massachusetts"    72.0
9                     "Missouri"    69.0
10                    "New York"    75.0
11                        "Ohio"    72.0
12                    "Virginia"    72.0
13                  "California"    72.0
14                    "Illinois"    74.0
15               "Massachusetts"    74.0
16                        "Ohio"    68.0
17                    "Virginia"    64.0
18                 "Connecticut"    71.0
19                        "Iowa"    71.0
20              "North Carolina"    70.0
21                        "Ohio"    72.0
22                "Pennsylvania"    72.0
23              "South Carolina"    73.0
24                       "Texas"    75.0
25                     "Vermont"    74.0
26                    "Virginia"    69.5
27                    "Kentucky"    74.0
28               "New Hampshire"    70.0
29                     "Vermont"    70.0
30                    "New York"    67.5
31                        "Ohio"    67.5
32                    "Virginia"    71.5
33               "Massachusetts"    67.0
34                        "Ohio"    66.0
35                       "Texas"    70.0
36                    "Virginia"    74.0
37                  "New Jersey"    71.0
38                    "New York"    72.0

In [94]:
merged_npdp=merged.drop_duplicates()

In [97]:
merged_npdp.groupby(by='state',as_index=False).agg('count')

,state,Name,height,"""Birth State"""
0,"""Pennsylvania""",1,1,1
1,"""Massachusetts""",1,1,1
2,"""North Carolina""",1,1,1
3,"""Virginia""",1,1,1
4,"""Nebraska""",1,1,1
5,"""Arkansas""",1,1,1
6,"""Georgia""",1,1,1
7,"""Hawaii""",1,1,1
8,"""Massachusetts""",1,1,1
9,"""Missouri""",1,1,1
10,"""New York""",1,1,1
11,"""Ohio""",1,1,1
12,"""Virginia""",1,1,1
13,"""California""",1,1,1
14,"""Illinois""",1,1,1
15,"""Massachusetts""",1,1,1
16,"""Ohio""",1,1,1
17,"""Virginia""",1,1,1
18,"""Connecticut""",1,1,1
19,"""Iowa""",1,1,1
20,"""North Carolina""",1,1,1
21,"""Ohio""",2,2,2
22,"""Pennsylvania""",1,1,1
23,"""South Carolina""",1,1,1
24,"""Texas""",1,1,1
25,"""Vermont""",1,1,1
26,"""Virginia""",2,2,2
27,"""Kentucky""",1,1,1
28,"""New Hampshire""",1,1,1
29,"""Vermont""",1,1,1
30,"""New York""",2,2,2
31,"""Ohio""",2,2,2
32,"""Virginia""",2,2,2
33,"""Massachusetts""",1,1,1
34,"""Ohio""",1,1,1
35,"""Texas""",1,1,1
36,"""Virginia""",1,1,1
37,"""New Jersey""",2,2,2
38,"""New York""",2,2,2