In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.getcwd()

'c:\\Users\\athar\\myfiles\\Assignments'

In [3]:
os.chdir("../")

In [4]:
os.getcwd()

'c:\\Users\\athar\\myfiles'

In [5]:
data=pd.read_csv('Datasets/employee_attrition.csv')
data.head(2)

,age,gender,department,years,performance,jobsat,income,distance,attrition
0,39,Male,Human Resources,17,4.298854,3.260216,147094.0,10.0,0
1,29,Male,Research & Development,12,2.397524,4.864564,30997.0,4.8,0

Question 1

In [6]:
train=data.sample(frac=0.7,random_state=617)
test=data.drop(labels=train.index)

In [13]:
((train.attrition.sum()/len(train))*100).round(4)

20.7038

Question 2

In [18]:
train[train.attrition==1]['age'].mean().round(4)

48.3046

Question 3 and Questuion 4

In [19]:
from statsmodels.formula.api import logit

log_model=logit('attrition ~ age',data=train)
model1=log_model.fit()

model1.summary()

Optimization terminated successfully.
         Current function value: 0.508702
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              attrition   No. Observations:                 2188
Model:                          Logit   Df Residuals:                     2186
Method:                           MLE   Df Model:                            1
Date:                Sun, 02 Nov 2025   Pseudo R-squ.:                0.002557
Time:                        15:31:44   Log-Likelihood:                -1113.0
converged:                       True   LL-Null:                       -1115.9
Covariance Type:            nonrobust   LLR p-value:                   0.01690
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.9743      0.272     -7.255      0.000      -2.508      -1.441
age            0.0132      0.006      2.383      0.017       0.002       0.024
==============================================================================
"""

In [25]:
model1.predict(pd.DataFrame({"age":[train['age'][0]]})).round(4)

0    0.1888
dtype: float64

Question 5

In [30]:
model1.predict(pd.DataFrame({"age":[60]})).round(4)

0    0.235
dtype: float64

Question 6

In [40]:
# Percent change in odds= (e^beta1 - 1)*100

((np.exp(model1.params[1])-1)*100).round(4)

C:\Users\athar\AppData\Local\Temp\ipykernel_11840\3262267189.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ((np.exp(model1.params[1])-1)*100).round(4)

1.3324

In [ ]:
# Question 4 is wrong