In [1]:
import numpy as np
import pandas as pd

In [2]:
true = np.arange(1,11,1)
np.random.seed(1031)
pred = np.arange(1,11,1) + np.random.randint(-1,2,10)
data = pd.DataFrame({'true':true,
              'pred':pred})
data

   true  pred
0     1     1
1     2     1
2     3     2
3     4     5
4     5     6
5     6     6
6     7     6
7     8     7
8     9     9
9    10    10

In [7]:
(
    data
        .assign(e=data.true-data.pred)
        .sum()
)

true    55
pred    53
e        2
dtype: int64

In [8]:
(
    data
        .assign(e=data.true-data.pred,
               ae=np.abs(data.true-data.pred),
               se=(data.true-data.pred)**2,
               )
)

   true  pred  e  ae  se
0     1     1  0   0   0
1     2     1  1   1   1
2     3     2  1   1   1
3     4     5 -1   1   1
4     5     6 -1   1   1
5     6     6  0   0   0
6     7     6  1   1   1
7     8     7  1   1   1
8     9     9  0   0   0
9    10    10  0   0   0

In [12]:
from sklearn.metrics import root_mean_squared_error, r2_score, mean_absolute_error

In [13]:
root_mean_squared_error(data.true,data.pred)

0.7745966692414834

In [14]:
mean_absolute_error(data.true,data.pred)

0.6

In [16]:
r2_score(data.true,data.pred)

0.9272727272727272

In [17]:
np.random.seed(1031)
true = np.random.choice(a = [0,1],size = 10, replace = True)
pred_prob = np.random.random_sample(size = 10)
data = pd.DataFrame({'true':true,
                     'pred_prob':pred_prob})
data

   true  pred_prob
0     1   0.957739
1     0   0.196257
2     1   0.560088
3     0   0.828882
4     1   0.745089
5     0   0.507090
6     0   0.758294
7     1   0.083193
8     1   0.647319
9     0   0.387810

In [18]:
data['pred'] = (data['pred_prob']>0.5).astype('int32')
data

   true  pred_prob  pred
0     1   0.957739     1
1     0   0.196257     0
2     1   0.560088     1
3     0   0.828882     1
4     1   0.745089     1
5     0   0.507090     1
6     0   0.758294     1
7     1   0.083193     0
8     1   0.647319     1
9     0   0.387810     0

In [20]:
ct = pd.crosstab(data.true, data.pred,rownames = ['true'], colnames=['pred'])
TN = ct.iloc[0,0]
TP = ct.iloc[1,1]
FP = ct.iloc[0,1]
FN = ct.iloc[1,0]
ct
accuracy = (TP + TN)/len(data)
precision = TP/(TP + FP)
sensitivity_or_recall = TP/(TP + FN)
specificity = TN/(TN+FP)
pd.Series(data = [accuracy, precision, sensitivity_or_recall, specificity],
          index=['Accuracy','Precision', 'Sensitivity or Recall', 'Specificity'])

Accuracy                 0.600000
Precision                0.571429
Sensitivity or Recall    0.800000
Specificity              0.400000
dtype: float64

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(data.true, data.pred)

array([[2, 3],
       [1, 4]], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
accuracy = accuracy_score(data.true, data.pred)
precision = precision_score(data.true, data.pred)
sensitivity_or_recall = recall_score(data.true, data.pred)
auc = roc_auc_score(data.true, data.pred_prob)

pd.Series(data = [accuracy, precision, sensitivity_or_recall, specificity, auc],
          index=['Accuracy','Precision', 'Sensitivity or Recall', 'Specificity', 'Area Under the Curve'])

Accuracy                 0.600000
Precision                0.571429
Sensitivity or Recall    0.800000
Specificity              0.400000
Area Under the Curve     0.560000
dtype: float64

In [23]:
import pandas as pd
data = pd.read_csv('territory_sales.csv')

In [24]:
train = data.sample(frac = 0.7,random_state=1031)
test = data.drop(labels = train.index)

In [26]:
len(train),len(test)

(70, 30)

In [27]:
from sklearn.model_selection import train_test_split

In [34]:
y=data.sales
x=data.loc[:,['region','number_of_salespersons']]

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=600,stratify=pd.qcut(data.sales,q=10))

In [38]:
x_train.shape

(80, 2)

In [40]:
pd.qcut(data.sales,q=10).value_counts()

sales
(24698.999, 40262.9]    10
(40262.9, 49627.2]      10
(49627.2, 62647.1]      10
(62647.1, 79646.6]      10
(79646.6, 96667.5]      10
(96667.5, 111621.0]     10
(111621.0, 131989.8]    10
(131989.8, 145026.2]    10
(145026.2, 162951.8]    10
(162951.8, 217461.0]    10
Name: count, dtype: int64